# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Database files
*.db
# Excepción: Queremos incluir la base de datos de producción para Vercel
!db/alfabeta.db

# Temp local scratch folders
scratch/

